AUTH_SECRET=changeMeSecretString
GITHUB_CLIENT_ID=12345abcdef012345678
GITHUB_CLIENT_SECRET=123456789abcdef0123456789abcdef012345678
GOOGLE_CLIENT_ID=1234567890123-abcdefghijklmnopqrstuvwxyz012345.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=ABCDEFGHIJKLMNOPQRSTUVWX
HOSTNAME=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
