AUTH_SECRET=changeMeSecretString
GITHUB_CLIENT_ID=12345abcdef012345678
GITHUB_CLIENT_SECRET=123456789abcdef0123456789abcdef012345678
GOOGLE_CLIENT_ID=1234567890123-abcdefghijklmnopqrstuvwxyz012345.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=ABCDEFGHIJKLMNOPQRSTUVWX
HOSTNAME=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000

# All Envs
DYNAMODB_ACCOUNTS_TABLE=auth-accounts-4ca9dc8
DYNAMODB_USERS_TABLE=users-1a8d390
DYNAMODB_SESSIONS_TABLE=sessions-1113ebd
DYNAMODB_FLAGS_TABLE=flags-d847b3a
DYNAMODB_EMAIL_VERIFICATIONS_TABLE=email-verification-tokens-51d6229
DYNAMODB_ORGANIZATIONS_TABLE=organizations-ff92478

# Local only vars
AWS_ENDPOINT=http://localhost:4566
